.GameStats {
    min-height: unset;
    width: 100%;
}
.GameStats-Player-OwnRole::before {
    content: "";
    background: hsl(var(--hue), 40%, 50%);
    border-radius: 6px;
    height: 1.5em;
    width: 5px;
    position: absolute;
    transform: translateX(calc(-100% - 3px));
}

.GameStats-Player-OwnRole .UserSpan {
    font-weight: bold;
    color: hsl(var(--hue), 40%, 40%);
}
