.NewGame-OptionTile {
    min-width: unset;
    min-height: unset;
    padding: 20px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    user-select: none;
}
.NewGame-OptionTile-Content {
    height: 100%;
}
.NewGame-OptionTile-GreyedOut {
    background: #00000014;
    box-shadow: none;
}

.MainTile[data-path="/games/new"] {
    width: min(400px, 80vw);
}
