hr {
    width: 100%;
}

.LabeledDivider::after {
    content: attr(data-label);
    position: relative;
    padding: 0 0.5em;
    background-color: white;
}

.LabeledDivider::before {
    content: "";
    background: lightgray;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.LabeledDivider {
    position: relative;
    border: 0;
    text-align: center;
}
