.Loading {
    --loading-size: 30px;
    position: absolute;
    top: calc(50% - var(--loading-size) / 2);
    left: calc(50% - var(--loading-size) / 2);
}

.Loading::before {
    content: "";
    position: absolute;
    border: 3px solid hsl(calc(var(--hue) + 0deg) 20% 30%);
    border-bottom-color: transparent;
    height: var(--loading-size);
    width: var(--loading-size);
    border-radius: 50%;
    animation-name: Loading;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes Loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.LoadingValue {
    width: 2ch;
    height: 1.5em;
    display: inline-block;
    background: #fff6;
    border-radius: 3px;
    background: linear-gradient(90deg, transparent, #00000008, transparent);
    animation-name: loadingBackground;
    animation-iteration-count: infinite;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes loadingBackground {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 200px;
    }
}
