.MaterialIconButton {
    height: 1.2em;
    width: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: background 0.33s;
}
.MaterialIconButton:hover {
    background: #0000001f;
    color: inherit;
}
