.SortableTable-Heading {
    user-select: none;
    padding-right: 20px;
}
.SortableTable-Heading-Cell,
.SortableTable-Cell {
    padding: 5px;
    position: relative;
}

.SortableTable {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    padding: 5px;
}

.SortableTable-Row:not(:last-of-type),
.SortableTable-Heading {
    border-bottom: 1px solid black;
}

.SortableTable-Heading-Cell[data-current-sorting="ASC"]::after,
.SortableTable-Heading-Cell[data-current-sorting="DESC"]::after {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-family: "Material Icons";
    display: flex;
    align-items: center;
    justify-content: center;
}

.SortableTable-Heading-Cell[data-current-sorting="ASC"]::after {
    content: "arrow_drop_down";
}

.SortableTable-Heading-Cell[data-current-sorting="DESC"]::after {
    content: "arrow_drop_up";
}
