.Tile {
    padding: 20px;
    padding-bottom: 30px;
    box-shadow: 2px 2px 6px 0px #0000002b;
    border-radius: 5px;
    background: white;
    min-width: min(400px, 80vw);
    min-height: 500px;
    position: relative;
    gap: 0;
}
