:root {
    --navHeight: 50px;
    --vh: 1vh;
    --hue: 193deg;
    --mainPadding: 45px;
    --mainTileMinWidth: 400px;
}
* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
*:not(.Button):not(.MaterialIconButton) {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: inherit;
}
#root {
    background-color: #f9f8f8ff;
    height: 100%;
}
body {
    min-height: calc(100 * var(--vh));
    margin: 0;
    min-width: 100vw;
    overflow-x: hidden;
}

@media only screen and (max-width: 550px) {
    main {
        padding: 0 !important;
    }
    .Tile {
        padding: 0 !important;
        padding-top: 50px !important;
        box-shadow: none !important;
        background-color: transparent !important;
    }
}
